.container {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly; 
  align-items: center;
  min-height: 100vh;
}

.card {
    border: 1.5px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px;
    display: inline-block;
    width: 400px;
    height: 630px;
    transition: all .4s linear;
    font-family: "Comic Sans MS", cursive;
    font-size: 14px;    
    background-color: rgb(226, 226, 225);
  }
  
  .card-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .card img {
    width: 50%;
    height: 140px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background: #2196F3;
  }

  .card h2 {
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    color: #121111;
  }
  
  .card span {
    font-weight: bold;
    display: block;
  }
  
  .button {
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #64B5F6;
  }